.card-container {
  display: flex;
  justify-content: center;

  p-card {
    max-width: 30rem;

    img {
      width: 100%;
      height: 20rem;
      border-top-left-radius: var(--sd-border-radius);
      border-top-right-radius: var(--sd-border-radius);
    }

    .p-card-footer {
      text-align: right;
    }
  }
}
