:host {
  height: 70vh;
}

#city-container {
  display: flex;
  justify-content: center;
  gap: 3rem;

  #info-container {
    width: 50rem;

    #description {
      margin-bottom: var(--sd-spacing-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: var(--sd-spacing-sm);
    }
  }
}
