@if (city) {
<article id="city-container">
  <p-galleria
    [containerStyle]="{ 'max-width': '640px' }"
    [numVisible]="5"
    [value]="images()"
    (valueChange)="onImagesChange($event)"
  >
    <ng-template #item let-item>
      <img
        src="assets/{{ city.city.toLowerCase() | appCityName }}/{{ item }}.jpg"
        style="width: 100%; height: 30rem"
      />
    </ng-template>
    <ng-template #thumbnail let-item>
      <img
        src="assets/{{ city.city.toLowerCase() | appCityName }}/{{ item }}.jpg"
        style="width: 100%; height: 4rem"
      />
    </ng-template>
  </p-galleria>

  <section id="info-container">
    <p-fieldset legend="{{ city.city }}">
      <p>{{ city.description }}</p>
    </p-fieldset>
  </section>
</article>

}
