@use 'primeicons/primeicons.css';

@use './app/styles/extensions';

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--sd-background);
  color: var(--sd-text-color);
  padding: var(--sd-spacing-sm) var(--sd-spacing-md);
}

app-root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';

  app-header {
    grid-area: header;
  }

  router-outlet {
    ~ * {
      grid-area: main;
      height: fit-content;
    }
  }

  app-footer {
    grid-area: footer;
  }
}
