<footer>
  <section id="grid-section">
    <span>Settle Down © 2025. </span>
    <span>Find your perfect Canadian city.</span>
    <span>All rights reserved.</span>

    <span id="buttons">
      <p-button
        icon="pi pi-github"
        rounded="true"
        (onClick)="navigateToExternalUrl('https://github.com/dominikajarek')"
      />
      <p-button
        icon="pi pi-linkedin"
        rounded="true"
        (onClick)="navigateToExternalUrl('https://www.linkedin.com/in/dominika-jarek/')"
      />
    </span>
  </section>
</footer>
